:root {
  --coral: #fe8b8f;
  --border: 1px solid deeppink;
  --main-background: rgba(255, 255, 255, 0.5);
  --text-background: rgba(255, 255, 255, 0.75);
  --button-background: var(--text-background);
  --text-color: #323232;
  --font: 'Nanum Myeongjo', serif;
  --card-shadow: inset -3px 3px 3px rgba(255, 255, 255, 0.5),
    -2px 2px 3px rgba(0, 0, 0, 0.25),
    inset 1px 1px 3px rgba(0, 0, 0, 0.33),
    inset 4px 4px 3px rgba(255, 255, 255, 0.33);
  --menu-btn-transition: all 0.25s linear;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

body {
  width: 100%;
  overflow-x: hidden;
}

/* header {
  position: fixed;
  height: 10%;
  width: 100%;
  z-index: 50;
} */

#cornerLogo,
#menuButton {
  position: fixed;
  top: 0;
  height: 5rem;
  width: 5rem;
}

#cornerLogo {
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#cornerMandala,
#cornerOxytocin {
  position: absolute;
  height: 75%;
  width: 75%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* filter: drop-shadow(1px 1px white); */
}

#cornerMandala {
  background-image: url(./img/theMandala.png);
}

#cornerOxytocin {
  background-image: url(./img/oxygraynoborder.png);
}

#menuButton {
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 100;
}

#menuButtonLine {
  position: relative;
  height: 0.25rem;
  width: 3rem;
  border-radius: 10px;
  background-color: var(--coral);
  transition: var(--menu-btn-transition);
  /* box-shadow: inset 1px -1px 1px rgba(255, 255, 255, 0.25),
    inset -1px 1px 1px rgba(0, 0, 0, 0.25); */
}

#menuButtonLine::before,
#menuButtonLine::after {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 3rem;
  border-radius: inherit;
  background-color: inherit;
  transition: inherit;
  box-shadow: inherit;
}

#menuButtonLine::before {
  top: -1rem;
}

#menuButtonLine::after {
  top: 1rem;
}

.open #menuButtonLine::before {
  transform: translateY(1rem);
}

.open #menuButtonLine::after {
  transform: translateY(-1rem);
}

#bookButton,
#servicesButton {
  position: fixed;
  bottom: 0;
  height: 4rem;
  width: 8rem;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
  font-family: var(--font);
  letter-spacing: 0.15rem;
  font-weight: bolder;
  background: var(--button-background);
  z-index: 100;
}

#bookButton {
  left: 0;
  box-shadow: inset -2px 2px 4px white,
    inset 2px -2px 4px black;
}

#servicesButton {
  right: 0;
  box-shadow: inset 2px 2px 4px white,
    inset -2px -2px 4px black;
}

.pages {
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
}

.pageHeader {
  height: 100vh;
  width: 100%;
  color: white;
  font-size: 6vh;
  text-shadow: 1px 1px 1px var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* mix-blend-mode: difference; */
}

.bg {
  position: fixed;
  top: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.bgFilter {
  position: absolute;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bgImages {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bgImages.firstView {
  height: 100vh;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 0;
  background: white;
  box-shadow: 0 0 10px black;
}

a {
  text-decoration: none;
}

h3 {
  font-family: var(--font);
  text-align: center;
}

p {
  font-size: 2vh;
  padding: 5%;
  margin: 2% 0;
}

/* HOME PAGE ---------------------------------- */

#homePage {
  display: flex;
  position: relative;
  padding: 0;
}

#bgHome {
  position: fixed;
  top: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: -2;
  background-image: url(./img/bg.jpg);
  background-size: 100% 100%;
}

#bgFilterHome {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), transparent);
}

#logo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 56%;
  min-height: 56vh;
  width: 90%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  clip-path: polygon(100% 100%, 88% 98%, 84% 99%, 75% 100%, 68% 99%, 57% 99.5%, 51% 96.5%, 49% 96.5%, 46.5% 97.5%, 39% 94.5%, 35% 95%, 27.5% 92%, 24% 93%, 21% 93.5%, 19% 94.5%, 16% 94%, 6% 95%, 0% 94.5%, 0% 0%, 100% 0%);
}

#mandala {
  position: absolute;
  top: 10%;
  height: 100%;
  width: 100%;
  background-image: url(./img/theMandala.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  /* filter: drop-shadow(0px 0px 3px white); */
}

#oxytocin {
  position: absolute;
  top: 10%;
  right: 0;
  height: 75%;
  width: 100%;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/fe/Oxytocin.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0.5px var(--text-color))
          drop-shadow(0.5px 0px var(--text-color));
}

h1 {
  width: 90%;
  position: fixed;
  top: 60vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 3rem;
  font-family: var(--font);
  /* letter-spacing: 0.2rem; */
}

.nameSpan {
  display: inline-block;
}

.motto {
  position: fixed;
  font-size: 2rem;
  opacity: 0;
  width: 100%;
  text-align: center;
  color: var(--text-color);
  /* text-shadow: 0 1px var(--coral); */
}

#whereMotto {
  top: 14vh;
}

#scienceMotto {
  top: 23vh;
}

#andMotto {
  top: 32vh;
}

#presenceMotto {
  top: 41vh;
}

#integrateMotto {
  top: 48vh;
  display: flex;
  justify-content: space-evenly;
}

/* #integrateMotto {
  top: 46vh;
  height: 7rem;
  font-size: 5rem;
  text-shadow: -1px -1px 0px white, 2px 2px 0px black;
  background: linear-gradient(to bottom, transparent, var(--coral) 25% 75%, transparent);
  mix-blend-mode: screen;
} */

#integrateMotto span {
  font-size: 5rem;
  color: white;
  font-family: var(--font);
  font-weight: bolder;
  text-shadow: 0px -1px 1px var(--coral);
}

h2 {
  text-align: center;
  font-family: var(--font);
  letter-spacing: 0.2rem;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.75);
}

#scroll {
  height: 200vh;
  width: 100%;
  background: transparent;
}

#menuPage,
#aboutPage,
#tribePage,
#servicesPage,
#connectPage {
  display: none;
}

#menuPage {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#optionBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
}

.menuOptions {
  /* color: white; */
  font-size: 2rem;
}

#bgMenu {
  
}

#menuBgImg {
  background-image: url(https://images.unsplash.com/photo-1529697216570-f48ef8f6b2dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8);
}

#bgFilterMenu {
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), transparent); */
}

/* SERVICES PAGE ------------------------ */

#servicesPage {
  flex-direction: column;
  align-items: center;
}

#bgServices {

}

#bgFilterServices {
  background: transparent;
}

.serviceImg {
  width: 100vw;
  height: 33vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

#serviceBgImg1 {
  background-image: url(https://images.unsplash.com/photo-1534945614667-31e4dc8ca6f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8);
}

#serviceBgImg2 {
  margin-top: 25%;
  height: 56%;
  background-image: url(https://images.squarespace-cdn.com/content/v1/61b9fec969528d5048b84bbd/26d43f6b-5d2c-4e08-9389-2ef11770c324/robina-weermeijer-IHfOpAzzjHM-unsplash.jpg);
}

#begIntImg {
  background-image: url(https://images.squarespace-cdn.com/content/v1/61b9fec969528d5048b84bbd/26d43f6b-5d2c-4e08-9389-2ef11770c324/robina-weermeijer-IHfOpAzzjHM-unsplash.jpg);
}

#serviceBgImg3 {
  margin-top: 15%;
  height: 50%;
  background-image: url(https://images.squarespace-cdn.com/content/v1/61b9fec969528d5048b84bbd/1639701644010-GFARKYHIS2LH4JMA5HD2/unsplash-image-NqCK_XkrtCY.jpg);
}

#advIntImg {
  background-image: url(https://images.squarespace-cdn.com/content/v1/61b9fec969528d5048b84bbd/1639701644010-GFARKYHIS2LH4JMA5HD2/unsplash-image-NqCK_XkrtCY.jpg);
}

#serviceBgImg4 {
  margin-top: 10%;
  height: 50%;
  background-position: top;
  background-image: url(https://images.squarespace-cdn.com/content/v1/61b9fec969528d5048b84bbd/e3481db9-1d1e-4801-95a0-a5b48cc02cba/image-asset.jpg);
}

#myoImg {
  background-image: url(https://images.squarespace-cdn.com/content/v1/61b9fec969528d5048b84bbd/e3481db9-1d1e-4801-95a0-a5b48cc02cba/image-asset.jpg);
}

#serviceBgImg5 {
  margin-top: 15%;
  height: 50%;
  background-image: url(https://images.squarespace-cdn.com/content/v1/61b9fec969528d5048b84bbd/1639702412707-TL26C4FXGJ0IHZSFXUC5/GettyImages-454998377.jpg);
}

#ashiatsuImg {
  background-image: url(https://images.squarespace-cdn.com/content/v1/61b9fec969528d5048b84bbd/1639702412707-TL26C4FXGJ0IHZSFXUC5/GettyImages-454998377.jpg);
}

#servicesHeader {

}

.services {

}

.serviceTitle {
  font-size: 4vh;
  margin: 3vh 0;
}

.services h3 {
  text-align: left;
  padding: 3vh 5%;
  font-size: 2.5vh;
  letter-spacing: 2px;
}

p {
  font-size: 2vh;
  padding: 0 5%;
}

.servicesSection {
  height: 25vh;
  width: 100%;
  background-color: transparent;
}

#servicesEnd {
  height: 20vh;
  width: 100%;
  background-color: transparent;
}

/* CONNECT PAGE ------------------------------ */

#connectBgImg1 {
  background-position: right;
  background-image: url(https://images.unsplash.com/photo-1534620783980-fa96320b0ce6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8);
}

#connectPage h3 {
  max-width: 95%;
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 2px;
  margin-bottom: 10%;
}

#connectMap {
  width: 100vw;
  height: 33vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fe8b8f81;
  margin-bottom: 15%;
}

/* ABOUT PAGE ---------------------------------- */

#aboutBgImg1 {
  background-image: url(https://images.squarespace-cdn.com/content/v1/61b9fec969528d5048b84bbd/1639689838281-SBTJ8VKR11TZT601JJD4/unsplash-image-EwKXn5CapA4.jpg);
}

#aboutPage article {
  padding-bottom: 10vh;
}

.aboutEmphasis {
  font-size: 3vh;
  letter-spacing: 2px;
  display: block;
}

/* TRIBE PAGE ---------------------------------- */

#tribeBgImg1 {
  background-image: url(https://images.unsplash.com/photo-1588791095211-441bb45323f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8);
}

.tribeImages {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.75);
}

/* .tribeImages::after {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: inherit;
  /* border-top: 15px solid rgba(255, 255, 255, 0.5);
  box-shadow: inset -5px 5px 5px rgba(255, 255, 255, 0.25),
                    5px -5px 5px rgba(255, 255, 255, 0.25);
} */

#ildikoImg {
  background-image: url(./img/ildiko.jpg);
}

#tribePage article {
  background-color: rgb(255, 255, 255);
  padding-bottom: 10vh;
}

.tribeNames {
  font-size: 4vh;
  margin: 3vh 0;
}

.tribeTitles {
  font-size: 3vh;
  margin: 2.5vh;
}

.bioEmphasis {
  font-size: 3vh;
  letter-spacing: 2px;
  display: block;
}
