:root {
  --coral: #fe8b8f;
  --coral-highlight: #fbb8ba;
  --border: 1px solid deeppink;
  --main-background: rgba(255, 255, 255, 0.5);
  --text-background: rgba(255, 255, 255, 0.75);
  --button-background: var(--text-background);
  --text-color: #323232;
  --font: 'Nanum Myeongjo', serif;
  --card-shadow: inset -3px 3px 3px rgba(255, 255, 255, 0.5),
    -2px 2px 3px rgba(0, 0, 0, 0.25),
    inset 1px 1px 3px rgba(0, 0, 0, 0.33),
    inset 4px 4px 3px rgba(255, 255, 255, 0.33);
  --menu-btn-transition: all 0.25s linear;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* color: var(--text-color); */
}

body {
  position: relative;
  width: 100%;
  overflow-x: hidden;
  color: var(--text-color);
}

/* header {
  position: fixed;
  height: 10%;
  width: 100%;
  z-index: 50;
} */

#cornerLogo,
#menuButton {
  position: fixed;
  top: 0;
  height: 5rem;
  width: 5rem;
  margin: 0.25rem;
}

#cornerLogo {
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  z-index: 100;
}

#cornerMandala,
#cornerOxytocin {
  position: absolute;
  height: 90%;
  width: 90%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#cornerMandala {
  background-image: url(https://ucarecdn.com/341be368-45ba-460e-9293-cef31b2f49ca/-/preview/-/quality/smart/);
}

#cornerOxytocin {
  background-image: url(https://ucarecdn.com/cfadc8ea-529a-421a-9871-25ee8bea9697/-/preview/-/quality/smart/);
}

#menuButton {
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 100;
}

#menuButtonLine {
  position: relative;
  height: 0.25rem;
  width: 3rem;
  border-radius: 10px;
  background-color: var(--coral);
  transition: var(--menu-btn-transition);
  /* box-shadow: inset 1px -1px 1px rgba(255, 255, 255, 0.25),
    inset -1px 1px 1px rgba(0, 0, 0, 0.25); */
}

#menuButtonLine::before,
#menuButtonLine::after {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 3rem;
  border-radius: inherit;
  background-color: inherit;
  transition: inherit;
  box-shadow: inherit;
}

#menuButtonLine::before {
  top: -1rem;
}

#menuButtonLine::after {
  top: 1rem;
}

.open #menuButtonLine::before {
  transform: translateY(1rem);
}

.open #menuButtonLine::after {
  transform: translateY(-1rem);
}

footer {
  position: fixed;
  bottom: 0%;
  height: 5.5rem;
  width: 100%;
  background-color: #323232d4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: transform 0.25s linear;
  z-index: 100;
}

.footerButtons {
  height: 90%;
  width: 20%;
}

.footerBoxes {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.icons {
  font-size: 3rem;
  color: var(--coral);
  text-shadow: 1px 1px 0px black;
}

footer h4 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.25rem;
  font-weight: lighter;
  letter-spacing: 1px;
  text-shadow: 1px 1px 0px black;
}

.CTA {
  position: absolute;
  top: -1rem;
  left: 50%;
  height: 1rem;
  width: 1rem;
  border-left: 3px solid var(--coral);
  border-bottom: 3px solid var(--coral);
  animation: cta .5s ease-in infinite alternate;
  box-shadow: -1px 1px 0px black;
}

@keyframes cta {
  0% {
    transform: translateY(-0.5rem) translateX(-50%) rotate(-45deg);
    border-radius: 0% 0%;
  }

  50% {
    border-radius: 0% 0%;
  }

  100% {
    transform: translateY(0rem) translateX(-50%) rotate(-45deg);
    border-radius: 0% 50%;
  }
}

#footerBook {
  
}

#footerCall {

}

#footerServices {

}

#banner {
  position: fixed;
  bottom: -5rem;
  z-index: 50;
  height: 5rem;
  width: 100%;
  background-color: #323232d4;
  padding: 1rem 1%;
  /* box-shadow: inset 0 0 4px black; */
  font-weight: 100;
  transition: transform 0.25s linear;
}

#banner h4 {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  letter-spacing: 1px;
  font-size: 1.2rem;
  font-weight: lighter;
  text-shadow: 1px 1px 1px black;
}

#bannerButton {
  position: absolute;
  top: 5%;
  right: 1%;
  height: 2.5vh;
  width: 2.5vh;
  border: 1px solid var(--coral);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 1px black,
        inset 1px 1px 1px black;
}

#bannerButton::before,
#bannerButton::after {
  content: "";
  position: absolute;
  height: 1.5vh;
  width: 1px;
  background-color: var(--coral);
}

#bannerButton::before {
  transform: rotate(45deg);
  box-shadow: 1px 0px 1px black;
}

#bannerButton::after {
  transform: rotate(-45deg);
  box-shadow: 0px 1px 1px black;
}

.pages {
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  overflow-x: hidden;
}

.pageHeader {
  height: 100vh;
  width: 100%;
  padding-bottom: 5rem;
  color: white;
  font-size: 4rem;
  font-weight: bolder;
  text-shadow: 1px 1px 1px var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  mix-blend-mode: difference;
}

.bg {
  position: fixed;
  top: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.bgFilter {
  position: absolute;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bgImages {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bgImages.firstView {
  height: 100vh;
}

/* SEMANTICS -------------------- */

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 0;
  background: white;
  box-shadow: 0 0 10px black;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h3 {
  font-family: var(--font);
  text-align: center;
}

p {
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0 1rem;
  text-indent: 1rem;
  max-width: 500px;
}

/* HOME PAGE ---------------------------------- */

#homePage {
  display: flex;
  position: relative;
  padding: 0;
}

#bgHome {
  position: fixed;
  top: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: -2;
  background-image: url(https://ucarecdn.com/40b0a4ea-bc33-4a8f-afd7-70e0a83dbd2c/-/preview/-/quality/smart/);
  background-size: 100% 100%;
}

#bgFilterHome {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), transparent);
}

#logo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 56%;
  min-height: 56vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  clip-path: polygon(100% 100%, 88% 98%, 84% 99%, 75% 100%, 68% 99%, 57% 99.5%, 51% 96.5%, 49% 96.5%, 46.5% 97.5%, 39% 94.5%, 35% 95%, 27.5% 92%, 24% 93%, 21% 93.5%, 19% 94.5%, 16% 94%, 6% 95%, 0% 94.5%, 0% 0%, 100% 0%);
}

#mandala,
#oxytocin {
  position: absolute;
  top: 10%;
  height: 40vh;
  width: 40vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#mandala {
  background-image: url(https://ucarecdn.com/341be368-45ba-460e-9293-cef31b2f49ca/-/preview/-/quality/smart/);
}

#oxytocin {
  background-image: url(https://ucarecdn.com/b5147c16-61f0-4654-ac7c-494e1c638c91/-/preview/-/quality/smart/);
  filter: drop-shadow(0px 0.5px var(--text-color))
          drop-shadow(0.5px 0px var(--text-color));
  z-index: 10;
}

h1 {
  width: 18rem;
  position: fixed;
  top: 60vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 3rem;
  font-family: var(--font);
}

.nameSpan {
  display: inline-block;
}

.motto {
  position: fixed;
  font-size: 2rem;
  opacity: 0;
  width: 100%;
  text-align: center;
  color: var(--text-color);
  /* text-shadow: 0 1px var(--coral); */
}

#whereMotto {
  top: 14vh;
}

#scienceMotto {
  top: 23vh;
}

#andMotto {
  top: 32vh;
}

#presenceMotto {
  top: 41vh;
}

#integrateMotto {
  top: 48vh;
  display: flex;
  justify-content: space-evenly;
}

/* #integrateMotto {
  top: 46vh;
  height: 7rem;
  font-size: 5rem;
  text-shadow: -1px -1px 0px white, 2px 2px 0px black;
  background: linear-gradient(to bottom, transparent, var(--coral) 25% 75%, transparent);
  mix-blend-mode: screen;
} */

#integrateMotto span {
  font-size: 5rem;
  color: white;
  font-family: var(--font);
  font-weight: bolder;
  text-shadow: 0px -1px 1px var(--coral);
}

h2 {
  text-align: center;
  font-family: var(--font);
  letter-spacing: 2px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.75);
}

#scroll {
  height: 200vh;
  width: 100%;
  background: transparent;
}

#menuPage,
#aboutPage,
#tribePage,
#servicesPage,
#connectPage,
#bookPage {
  display: none;
}

#bookPage {
  padding-top: 10vh;
}

#menuPage {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bgMenu {
  top: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  z-index: -2;
}

#optionBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
  margin-bottom: 5rem;
}

.menuOptions {
  font-size: 2rem;
  font-weight: bolder;
}

#bgMenu {
  position: absolute;
}

#menuBgImg {
  background-image: url(https://ucarecdn.com/bda90229-f14e-4c4b-9a49-7245ba83b7bb/-/preview/-/quality/smart/);
}

#bgFilterMenu {
  /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0.75), transparent); */
}

/* SERVICES PAGE ------------------------ */

#servicesPage {
  flex-direction: column;
  align-items: center;
}

#bgServices {

}

#bgFilterServices {
  background: transparent;
}

.serviceImg {
  width: 100vw;
  height: 33vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

#serviceBgImg1 {
  background-position: center;
  background-image: url(https://ucarecdn.com/31f385dc-8e61-4613-9057-5eeb4cfc640d/-/preview/-/quality/smart/);
}

#begIntImg {
  background-image: url(https://images.squarespace-cdn.com/content/v1/61b9fec969528d5048b84bbd/26d43f6b-5d2c-4e08-9389-2ef11770c324/robina-weermeijer-IHfOpAzzjHM-unsplash.jpg);
}

#advIntImg {
  background-image: url(https://images.squarespace-cdn.com/content/v1/61b9fec969528d5048b84bbd/1639701644010-GFARKYHIS2LH4JMA5HD2/unsplash-image-NqCK_XkrtCY.jpg);
}

#serviceBgImg4 {
  margin-top: 100%;
  height: 100%;
  background-image: url(https://ucarecdn.com/82d13c71-7365-4631-b26f-5dac54e75f4e/-/preview/400x1000/-/quality/smart/);
}

#ashiatsuImg {
  background-image: url(https://images.squarespace-cdn.com/content/v1/61b9fec969528d5048b84bbd/1639702412707-TL26C4FXGJ0IHZSFXUC5/GettyImages-454998377.jpg);
}

#servicesHeader {

}

.services {

}

.serviceTitle {
  font-size: 2rem;
  margin: 3vh 0;
}

.services h3 {
  text-align: left;
  padding: 3vh 5%;
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.servicesSection {
  height: 25vh;
  width: 100%;
  background-color: transparent;
}

#servicesEnd {
  height: 20vh;
  width: 100%;
  background-color: transparent;
}

/* CONNECT PAGE ------------------------------ */

#connectBgImg1 {
  background-position: right;
  background-image: url(https://ucarecdn.com/ea2aaefe-028b-4d46-b881-612600ed87cc/-/preview/-/quality/smart/);
}

#connectPage article {
  padding-top: 0;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.25);
}

.connectSections {
  width: 100%;
  margin: 3% 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  padding: 1rem 2%;
}

#phoneSection {
  margin-top: 0;
}

#connectPage h3 {
  font-size: 1.75rem;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}

#connectPage h4 {
  font-family: var(--font);
  font-size: 1.5rem;
  text-align: center;
}

.calltext {
  /* display: inline-block;
  height: 2.5rem;
  width: 4.5rem;
  text-align: center;
  padding: 2% 0;
  border-radius: 10px; */
  color: var(--coral);
  font-weight: bolder;
  /* text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5); */
}

/* #phoneCall {
  box-shadow: inset -2px 2px 4px white,
  inset 2px -2px 4px rgba(0, 0, 0, 0.5);
} */

/* #phoneText {
  box-shadow: inset 2px 2px 4px white,
  inset -2px -2px 4px rgba(0, 0, 0, 0.5);
} */

/* .connectEmphasis {
  font-size: 1.75rem;
  font-weight: bolder;
  letter-spacing: 2px;
  margin: 2rem 0;
} */

#connectMap {
  width: 100vw;
  height: 33vh;
  margin-bottom: 15%;
}

/* ABOUT PAGE ---------------------------------- */

#aboutBgImg1 {
  background-image: url(https://ucarecdn.com/1e04751c-8304-41e9-98fa-4ae32294d0b3/-/preview/-/quality/smart/);
}

#aboutPage article {
  padding-bottom: 10vh;
}

.aboutEmphasis {
  font-size: 1.5rem;
  letter-spacing: 2px;
  display: block;
  text-indent: 0%;
}

/* TRIBE PAGE ---------------------------------- */

#tribeBgImg1 {
  background-image: url(https://ucarecdn.com/6dfae964-7a54-4653-96c7-8f5a7139ea32/-/preview/-/quality/smart/);
}

.tribeImages {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 33vh;
  width: 33vh;
  border-radius: 0%;
  /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75); */
}

.tribeImageFrames {
  position: relative;
  height: 50vh;
  width: 50vh;
  /* top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(https://ucarecdn.com/341be368-45ba-460e-9293-cef31b2f49ca/-/preview/-/quality/smart/);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#ildikoImg {
  background-image: url(https://ucarecdn.com/4e233dd5-71a7-431b-924e-85821dd3d9b6/-/preview/-/quality/smart/);
}

#tribePage article {
  background-color: rgb(255, 255, 255);
  padding-bottom: 10vh;
}

.tribeNames {
  position: absolute;
  top: -1rem;
  left: 2rem;
  font-size: 2.5rem;
  font-weight: lighter;
}

.tribeTitles {
  position: absolute;
  bottom: 0;
  right: 2rem;
  font-size: 1.5rem;
}

.bioEmphasis {
  font-size: 1.5rem;
  letter-spacing: 1px;
  display: block;
  text-indent: 0%;
}

#mBook {
  color: black;
}
#mBook h2 {
  color: black;
}

@media (min-width: 1000px) {

  #cornerLogo,
  #menuButton {
    height: 7rem;
    width: 7rem;
  }

  #cornerMandala::before,
  #cornerMandala::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: inherit;
    background-position: inherit;
    background-size: inherit;
    background-repeat: inherit;
    display: none;
  }

  #cornerMandala {
    height: 6.75rem;
    width: 6.75rem;
  }

  #cornerMandala::before {
    height: 2.25rem;
    width: 2.25rem;
  }

  #cornerMandala::after {
    height: 0.75rem;
    width: 0.75rem;
  }

  #menuButton:hover #menuButtonLine {
    box-shadow: -1px 1px 0px rgba(255, 255, 255, 0.75),
    1px -1px 0px rgba(0, 0, 0, 1);
    transform: scale(1.1);
  }

  #cornerLogo:hover #cornerMandala {
    animation: fractal 1s linear infinite;
    /* filter: drop-shadow(0px 0px 1px var(--coral)); */
  }

  #cornerLogo:hover #cornerMandala::before,
  #cornerLogo:hover #cornerMandala::after {
    display: block;
  }

  @keyframes fractal {
    0% {
      transform: scale(1);
    }

    100% {
      transform: scale(3);
    }
  }

  #mandala,
  #oxytocin {
    height: 45vh;
    width: 45vh;
  }

  #oxytocin:hover + #mandala,
  #mandala:hover {
    animation: huey 3s linear infinite;
  }

  @keyframes huey {
    0% {
      filter: hue-rotate(0deg);
    }

    100% {
      filter: hue-rotate(-360deg);
    }
  }

  /* #mandala::before,
  #mandala::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-image: inherit;
    background-position: inherit;
    background-size: inherit;
    background-repeat: inherit;
    transition: transform 1s linear;
  }

  #oxytocin:hover + #mandala::after,
  #mandala:hover::after {
    transform: scale(3);
  }

  #oxytocin:hover + #mandala::before,
  #mandala:hover::before {
    transform: scale(0.33);
  } */

  h1 {
    width: 50rem;
    font-size: 4rem;
    top: 65vh;
    letter-spacing: 2px;
    pointer-events: none;
  }

  .motto {
    pointer-events: none;
  }

  #integrateMotto {
    top: 45vh;
    justify-content: space-evenly;
  }

  #integrateMotto span {
    font-size: 7rem;
  }

  #integrateMotto #integrateI {
    text-shadow: 4px -2px 1px var(--coral);
  }

  #integrateMotto #integrateN {
    text-shadow: 3px -2px 1px var(--coral);
  }

  #integrateMotto #integrateT1 {
    text-shadow: 2px -2px 1px var(--coral);
  }

  #integrateMotto #integrateE1 {
    text-shadow: 1px -2px 1px var(--coral);
  }

  #integrateMotto #integrateG {
    text-shadow: 0px -2px 1px var(--coral);
  }

  #integrateMotto #integrateR {
    text-shadow: -1px -2px 1px var(--coral);
  }

  #integrateMotto #integrateA {
    text-shadow: -2px -2px 1px var(--coral);
  }

  #integrateMotto #integrateT2 {
    text-shadow: -3px -2px 1px var(--coral);
  }

  #integrateMotto #integrateE2 {
    text-shadow: -4px -2px 1px var(--coral);
  }

  #footer {
    padding: 0 20%;
  }

  .footerButtons {
    width: 8%;
    cursor: pointer;
  }

  .footerButtons:hover .footerBoxes {
  }
  
  .footerButtons:hover .icons {
    transform: scale(1.1);
    text-shadow: 2px 2px 0px black, -1px -1px 0px var(--coral-highlight);
  }

  .footerButtons:hover h4 {
    color: white;
    text-shadow: 1px 1px 5px black;
  }

  #banner h4 {
    letter-spacing: 2px;
    font-size: 2rem;
  }
  
  #bannerButton {
    top: 0.5rem;
    right: 0.5rem;
    height: 3vh;
    width: 3vh;
    cursor: pointer;
  }

  .pageHeader {
    pointer-events: none;
  }

  #menuPage {
    position: fixed;
    width: 20vw;
    right: 0;
    z-index: 10;
    box-shadow: 0px 0px 5px black;
  }

  #menuBgImg {
    background: rgba(0, 0, 0, 0.75);
  }

  #menuButton,
  .menuOptions {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .menuOptions {
    position: relative;
    color: white;
    text-shadow: 2px 2px 5px black;
  }

  .menuOptions::after {
    /* content: ""; */
    position: absolute;
    bottom: 0;
    left: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0%;
    border-radius: 10px;
    /* background: linear-gradient(to bottom, white, transparent); */
    background-color: var(--coral);
    transition: inherit;
    box-shadow: 2px 2px 2px black;
  }

  .menuOptions:hover {
    transform: scale(1.1);
    text-shadow: 3px 3px 2px black, 0px 0px 3px white;
  }

  .menuOptions:hover::after {
    width: 100%;
  }

  #servicesPage {

  }

  .services {
    box-shadow: none;
  }

  .serviceImg {
    position: absolute;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    z-index: 5;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  }

  #begIntImg {
    top: 150vh;
    left: 3vw;
  }

  #advIntImg {
    top: 225vh;
    right: 3vw;
  }

  #ashiatsuImg {
    top: 350vh;
    right: 3vw;
  }

  #serviceBgImg4 {
    display: none;
  }
  
  .servicesSection {
    position: absolute;
    top: 200vh;
    left: 5vw;
    height: 50rem;
    width: 25rem;
    /* border-radius: 50%; */
    z-index: 25;
    background-image: url(https://ucarecdn.com/82d13c71-7365-4631-b26f-5dac54e75f4e/-/preview/400x1000/-/quality/smart/);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .tribeImageFrames {
    position: relative;
    flex-direction: row;
  }

  .tribeNames {
    position: absolute;
    top: 1rem;
    left: -8rem;
    font-size: 4rem;
  }

  .tribeTitles {
    position: absolute;
    bottom: 3rem;
    right: -3rem;
  }

  .tribeImageFrames:hover {
    filter: drop-shadow(0px 0px 1px var(--coral));
  }

  #connectPage {
    align-items: center;
  }

  #connectPage article {
    flex-direction: row;
    justify-content: space-evenly;
    height: 50vh;
    padding: 0;
  }

  .connectSections {
    height: 75%;
    width: 25%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin: 0;
    /* box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5); */
    box-shadow: inset -2px 2px 5px rgba(0, 0, 0, 0.5), 0px 0px 0px rgba(0, 0, 0, 0.5);
    /* box-shadow: none; */
    /* border: 1px solid black; */
    transition: all 0.2s linear;
  }

  .connectSections:hover {
    box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0.5), -2px 2px 5px rgba(0, 0, 0, 0.5);
    /* border: none; */
  }

  #connectMap {
    height: 80vh;
    /* width: 80vw; */
    padding: 0 10vw;
    margin-bottom: 6%;
    background-color: white;
  }

}
